.contact-box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
}
.contact-background{
  background: linear-gradient(to bottom, #fff calc(100% - 150px), #f8f9fa 50px);
  padding-bottom: 20px;

}
.section {

  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  color: #444;
  margin: 0px 200px;
  margin-bottom: 40px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
  text-align: left;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-box i {
  font-size: 22px;
  color: #0077cc;
  background: #eef6ff;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.info-box h4 {
  font-size: 1.2rem;
  margin: 0;
}

.info-box p {
  margin: 0;
  color: #444;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.form-row input {
  flex: 1;
  /* makes both inputs equal width */
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

button {
  background: #0077cc;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  /* button takes full width */
}

button:hover {
  background: #005fa3;
}

.status {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #0077cc;
}

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-direction: column;
  }
  .subtitle {
  color: #444;
  margin: 0px 0px;
  margin-bottom: 20px;
}

}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Times New Roman', Times, serif;
}
.contact-form button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}