.edu-card {
  margin: 1rem 0;
  padding: 1.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

/* .job-card {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 12px;
  background: white;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.job-card h3 {
  color: #0a192f;
  margin-bottom: 0.5rem;
}

.job-card ul {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  line-height: 1.6;
} */
