/* .section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #0a192f;
  position: relative;
}

.section h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #64ffda;
  margin: 0.5rem auto;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .section {
    text-align: center;
  }
} */
